*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1A1A1D;
    color: white;
    font-family: Poppins-Regular;
}
header{
    height: auto;
    background-color: transparent;
    font-size: 20px;
    padding: 1em 0 0;
}
nav{
    padding-left: 2em;
}
main{
    padding: 0 31px;
}
img{
    width: 100%;
}
a, a:hover{
    color: white;
    text-decoration: none;
}
.title + h3{
    font-family: 'Poppins-Light';
    color: #4E4E50;
    font-size: 2.9vw;
}
p{
    margin: 2em 0;
    font-size: 1.5vw;
}
.logo{
    font-size: 35px;
    font-family: 'Poppins-Bold';
}
.butn{
    transition: 0.5s;
    background: linear-gradient(to right, #950740, #C3073F);
    padding: 5px 20px;
    border-radius: 8px;
}
.butn:hover{
    background: linear-gradient(to left, #950740, #C3073F);
}
.title{
    line-height: 1;
    font-family: 'Poppins-BOLD';
    font-size: 8vw;
    letter-spacing: 2px;
    background: linear-gradient(to right, #950740, #C3073F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.reg.butn{
    width: 18vw;
    padding: 12px;
    font-size: 1.5vw;
    text-align: center;
}
.lm-butn{
    width: 15vw;
    transition: 0.5s;
    border: 2px solid;
    border-radius: 8px;
    font-size: 1.5vw;
    padding: 11px;
    text-align: center;
}
.lm-butn:hover{
    color: black;
    background-color: white
}
.divider{
    margin-top: -20px;
    font-size: 20px;
}
.divider img{
    width: 40px;
    margin-right: 15px
}

/*Calendar start*/
.calendar header{
    padding: 0;
    width: 27rem;
    position: relative;
    justify-content: center;
    margin: 0 auto 3em;
}
.calendar header .month{
    display: flex;
    justify-content: center;
    font-family: 'Poppins-Bold';
    font-size: 40px;
}
.calendar header .month .year{
    padding-left: 17px;
}
.calendar header .btn-prev, .calendar header .btn-next{
    top: 16%;
}

.calendar-container{
    position: relative;
    margin: 50px auto;
    max-width: 90%;
    font-size: 2rem;
}
.calendar .day.disabled{
    cursor: pointer;
}
.calendar .day.disabled:hover{
    border: 2px solid #C3073F;
}
/*Calendar end*/
/*Event View Start*/
.event-view main{
    padding: 35px 65px;
}
.tic{
    color:#C3073F;
}
.logo.eventic{
    font-size: 30px;
}
.logo.eventic + div{
    font-size: 17px;
}
.event-img-cont img{
    width: 60px;
}
.event-title{
    font-size: 2.3rem;
    font-family: 'Poppins-Bold';
}
.organise-by{
    font-size: 15px;
}
.event-organiser{
    font-size: 1.4rem;
}
.hor-rule{
    margin: 20px 0 40px 0;
    width: 15rem;
    height: 2px;
    background: #c0073f;
}
.eve-overview{
    font-size: 1.7rem;
    margin: 30px 0 35px 0;
}
.event-detail{
    font-size: 1.3rem;
}
.event-description{
    font-size: 18px;
    margin-top: 15px;
}
.event-view .reg.butn{
    font-size: 1.2rem;
    padding: 6px 66px;
}
.time-cont{
    font-size: 2.5rem;
}
.widget-cont{
    width: 60%;
}
.widget-cont .widgets{
    margin-bottom: 6rem;
}
.time-letter .d-letter{
    margin-left: 5px;
}
.time-letter .h-letter{
    margin-left: 10px;
}
.time-letter .m-letter{
    margin-right: -9px;
}
.widget-calendr{
    margin-left: -25px;
}
.widget-hall{
    margin-right: -25px;
}
.widget-calendr div, .widget-time div, .widget-hall div{
    margin-top: 20px;
}
/*Event View End*/
@media only screen and (max-width: 860px){
    .event-view main {
        padding: 35px 25px;
    }
    section{
        flex-wrap: wrap!important;
    }
    .sib-one{
        flex-basis: 100%;
    }
    .sib-two{
        flex-basis: 100%;
        justify-content: center;
    }
    .widget-cont {
        width: 100%;
        margin-right:0;
    }
    nav{
        flex-wrap: wrap;
        padding-left: 10px;
        justify-content: center!important;
    }
    .nav-sect-one{
        flex-basis: 8.3333%;
    }
    .nav-sect-two{
        flex-basis: 100%;
        font-size: 17px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .nav-sect-two a{
        margin: 0 5px;

    }
    .title{
        font-size: 10vw;
    }
    .title + h3{
        font-size: 5.4vw;
    }
    #home p{
        font-size: 3.1vw;
    }
    #home .lm-butn{
        width: 21vw;
        font-size: 2.5vw;
    }
    #home .reg.butn{
        width: 25vw;
        font-size: 2.5vw;
    }
    #home .calendar-container{
        font-size: 1rem;
    }
    #home main{
        padding: 0 10px;
    }
    .home-img{
        position: absolute;
        z-index: -1;
        opacity: 6%;
        top: 25%;
    }
    .calendar header{
        width: 15rem;
    }
    .calendar header .month{
        font-size: 20px;
    }
    .calendar header .btn-prev, .calendar header .btn-next {
        top: 2%;
    }
    .divider{
        margin-top: 40px;
    }
    .home-content{
        flex-basis: 100%;
    }
}
